<span>
   <p>
    {% if exact %}
        Exact Matches:
    {% else %}
        Partial Matches:
    {% endif %}
    {{results.start_index}} to {{results.end_index}} of total {{results.paginator.count}}
   </p>
</span>
<table class="table">
   <tr>
      <th>Artist</th>
      <th>Hotness</th>
      <th>Echo Nest ID</th>
   </tr>
   {% for result in results %}
   <tr>
      <td>{{ result.name }}</td>
      <td>{{ result.hotttnesss }}</td>
      <td>{{ result.id }}</td>
   </tr>
   {% endfor %}
</table>
<div class="pagination">
   <span class="step-links">
   {% if results.has_previous %}
   <a href="#" name='{{ results.previous_page_number }}'>previous</a>
   {% endif %}
   <span class="current">
   Page {{ results.number }} of {{ results.paginator.num_pages }}.
   </span>
   {% if results.has_next %}
   <a href="#" name='{{ results.next_page_number }}'>next</a>
   {% endif %}
   </span>
</div>