{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <title>Econest search Demo</title>
      <link rel="stylesheet" href="{% static "css/libs/bootstrap.min.css" %}">
      <style>
      /* inline css script for evaluation of code should be ideally
      inside an external file*/
      #loadingDiv{
        display: none;
        z-index: 2000;
        position:absolute;
        top:50px;
        left:300px;
      }
      </style>
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.0.min.js">
      </script>
      <script type="text/javascript">
        $('document').ready(function(){
            //inline code is for evaluation purpose only.
            // ideally should be contained within a external script file.
            function call_ajax(){
                $.ajax({url:"/", context: document.body,
                       data: "exact=" + $('#id_exact').val()+ "&keyword=" +
                        $('#id_artist_name').val(),
                        beforeSend: function(){
                            $('#loadingDiv').css('display','inline');
                            return true;
                        }
                        })
                        .done(function(data){
                            // success
                            $('#result_list').html(data);
                            $('.step-links a').bind('click', function(evnt){
                                evnt.preventDefault();
                                var page_num = this.name;
                                pageflip_ajax(page_num);
                            });
                        })
                        .always(function(){
                    // done or fail fire this
                            $('#loadingDiv').css('display','none');
                        });
            }
            
            function pageflip_ajax(page_num){
            $.ajax({url:'/search/results/', data: "page_num=" + page_num})
            .done(function(data){
                // populate the html data.
                $('#result_list').html(data);
                $('.step-links a').bind('click', function(evnt){
                        evnt.preventDefault();
                        var page_num = this.name;
                        pageflip_ajax(page_num);
                    });
                });
            }
            
            
            var keytimer = null;
            var timerdelay = 300; //adjust speed in ms var
            var keywordHistory = "";
            
            $('#id_artist_name').bind('keyup change inpemut propertychange',
            function(evnt){
                // fire the ajax after the keyword changes
                // we need to delay a bit to let the user finish typing
                // enter keys may kill the page so disable them.
                var code = evnt.which;
                if (code===13){
                    evnt.preventDefault();
                }
                if (keytimer) {
                //if new key comes before timeout clear it
                clearTimeout(keytimer);
                }
                keytimer = setTimeout(function() {
                    var keydata = jQuery("#id_artist_name").val();
                    if ((keydata.length > 0) && (keywordHistory !== $.trim(keydata)))
                        // as timerdelay is reached timeout occurs, now
                        // fire ajax.
                        {
                        call_ajax();
                        keywordHistory = keydata;
                        }
                    },timerdelay);
            });
            
            $('#id_exact').bind('change', function(){
                // fire the ajax after the keyword changes
                call_ajax();
            });
        });
    </script>
   </head>
   <body>
      <div class="container">
         <p class="row-fluid lead">EchoNest Artist Search</p>
         <form action="" class="searchForm">
            <table>
               <tr>
                  <td> {{ form.exact.label_tag }}{{ form.exact }} </td>
                  <td>{{ form.artist_name.label_tag }}{{ form.artist_name }}</td>
               </tr>
            </table>
         </form>
         <div id="result_list">
         </div>
         <div id="loadingDiv"><img src=" {% static "images/spinner.gif" %}"></div>
      </div>
   </body>
</html>